{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="my-3">{{ original.title }}</h1>
</header>
<section>
    <div class="shadow p-3 mb-5 bg-light rounded">
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">{{ original.title }}</dd>
            <dt class="col-sm-2">Medium</dt>
            <dd class="col-sm-10">{{ original.medium }}</dd>
            <dt class="col-sm-2">Dimensions</dt>
            <dd class="col-sm-10">{{ original.dimensions }}</dd>
            <dt class="col-sm-2">Price</dt>
            <dd class="col-sm-10">{{ original.price }}</dd>
            <dt class="col-sm-2">Date Created</dt>
            <dd class="col-sm-10">{{ original.date_created }}</dd>
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">{{ original.status }}</dd>
            <dt class="col-sm-2">Possession</dt>
            <dd class="col-sm-10">{{ original.possession }}</dd>
            <dt class="col-sm-2">Has Prints</dt>
            <dd class="col-sm-10">{{ original.has_prints }}</dd>
            <dt class="col-sm-2">Is Commission</dt>
            <dd class="col-sm-10">{{ original.is_commission }}</dd>

        </dl>
        <a class="btn btn-secondary" href="{{ url_for('originals.edit_original', original_id=original._id) }}">Edit {{ original.title }}</a>
    </div>
    <a class="btn btn-primary" href="{{ url_for('.index') }}">Back</a>
</section>
{% endblock %}
