{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="my-3">{{ contact.name_first }} {{ contact.name_last }}</h1>
</header>
<section>
    <div class="shadow p-3 mb-5 bg-light rounded">
        <dl class="row">
            <dt class="col-sm-2">First Name</dt>
            <dd class="col-sm-10">{{ contact.name_first }}</dd>
            <dt class="col-sm-2">Last Name</dt>
            <dd class="col-sm-10">{{ contact.name_last }}</dd>
            <dt class="col-sm-2">Phone</dt>
            <dd class="col-sm-10">{{ contact.phone }}</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">{{ contact.email }}</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">{{ contact.address }}</dd>
        </dl>
        <a class="btn btn-secondary" href="{{ url_for('contacts.edit_contact', contact_id=contact._id) }}">Edit {{ contact.name_first }}</a>
    </div>
    <a class="btn btn-primary" href="{{ url_for('.index') }}">Back</a>
</section>
{% endblock %}
