{% extends "base.html" %}
{% block content %}
<header>
    <h1 class="my-3">Edit "{{ contact.name_first }} {{ contact.name_last }}"</h1>
</header>
<section class="new-contact-form">
        <div class="shadow p-3 mx-3 mb-4 bg-light rounded">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name_first">First Name</label>
                        <input type="text" class="form-control" id="name_first" name="name_first" value="{{ contact.name_first }}"
                               aria-describedby="name_firstHelp">
                        <small id="name_firstHelp" class="form-text text-muted">
                            Enter the name_first of the contact
                        </small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="name_last">Last Name</label>
                        <input type="text" class="form-control" id="name_last" name="name_last" value="{{ contact.name_last }}"
                               aria-describedby="name_lastHelp">
                        <small id="name_lastHelp" class="form-text text-muted">
                            Enter the Last Name of the contact
                        </small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ contact.phone }}"
                               aria-describedby="phoneHelp">
                        <small id="phoneHelp" class="form-text text-muted">
                            Sample Help Text
                        </small>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ contact.email }}"
                               aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">
                            Sample Help Text
                        </small>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{ contact.address }}"
                               aria-describedby="addressHelp">
                        <small id="addressHelp" class="form-text text-muted">
                            Sample Help Text
                        </small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary ml-2" href="{{ url_for('.index') }}">Back</a>
            </form>
        </div>


        <!--        Generic Field-->
        <!--        <div class="form-group">-->
       <!--            <label for="sample">Field First Name</label>-->
        <!--            <input type="text" class="form-control" id="sample" name="sample" value="sample_placeholder"-->
        <!--                   aria-describedby="sampleHelp">-->
        <!--            <small id="sampleHelp" class="form-text text-muted">-->
        <!--                Sample Help Text-->
        <!--            </small>-->
        <!--        </div>-->
        <!--        End Generic Field-->
</section>
{% endblock %}
