{% extends "base.html" %}

{% block content %}
<header>
    <h1 class="my-3">Contacts</h1>
</header>
<section>
    <div class="shadow p-3 mx-3 mb-4 bg-light rounded">
    <div class="list-group my-3">
        {% for contact in contacts %}
            <div class="list-group-item">
                <h4>{{ contact.name_first }} {{ contact.name_last }}</h4>
                <a href="{{ url_for('contacts.details_contact', contact_id=contact._id) }}">
                    Details
                </a>
                <a> | </a>
                <a href="{{ url_for('contacts.edit_contact', contact_id=contact._id) }}">
                    Edit
                </a>
                <a> | </a>
                <a class="text-danger" href="{{ url_for('contacts.delete_contact', contact_id=contact._id) }}">
                    Delete
                </a>
            </div>
{% endfor %}
    </div>

    <a class="btn btn-primary" href="{{ url_for('contacts.new_contact') }}">Add New</a>
    </div>
</section>
{% endblock %}