{% extends "base.html" %}
{% block content %}
<header>
    <h1 class="my-3">New Original</h1>
</header>
<section class="new-original-form">

    <div class="shadow p-3 mx-3 mb-4 bg-light rounded">
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Starry Night"
                       aria-describedby="titleHelp">
                <small id="titleHelp" class="form-text text-muted">
                    Enter the title of the original
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="medium">Medium</label>
                <input type="text" class="form-control" id="medium" name="medium" placeholder="Oil on Canvas"
                       aria-describedby="mediumHelp">
                <small id="mediumHelp" class="form-text text-muted">
                    Enter the Medium of the original
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="dimensions">Dimensions</label>
                <input type="text" class="form-control" id="dimensions" name="dimensions" placeholder="8 x 10"
                       aria-describedby="dimensionsHelp">
                <small id="dimensionsHelp" class="form-text text-muted">
                    Sample Help Text
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="500"
                       aria-describedby="priceHelp">
                <small id="priceHelp" class="form-text text-muted">
                    Sample Help Text
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date_created">Date Created</label>
                <input type="text" class="form-control" id="date_created" name="date_created" placeholder="11/3/20"
                       aria-describedby="date_createdHelp">
                <small id="date_createdHelp" class="form-text text-muted">
                    Sample Help Text
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" placeholder="Available"
                       aria-describedby="statusHelp">
                <small id="statusHelp" class="form-text text-muted">
                    Available, Gift, Sold, Etc.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="possession">Possession</label>
                <input type="text" class="form-control" id="possession" name="possession" placeholder="Who has it?"
                       aria-describedby="possessionHelp">
                <small id="possessionHelp" class="form-text text-muted">
                    Sample Help Text
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="has_prints">Has Prints</label>
                <input type="text" class="form-control" id="has_prints" name="has_prints" placeholder="True"
                       aria-describedby="has_printsHelp">
                <small id="has_printsHelp" class="form-text text-muted">
                    Enter True or False
                </small>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="is_commission">Is Commission</label>
                <input type="text" class="form-control" id="is_commission" name="is_commission" placeholder="is_commission_placeholder"
                       aria-describedby="is_commissionHelp">
                <small id="is_commissionHelp" class="form-text text-muted">
                    Enter True or False
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Original</button>
        <a class="btn btn-secondary ml-2" href="{{ url_for('.index') }}">Back</a>
    </form>
    </div>
<!--        Generic Field-->
<!--        <div class="form-group col-md-6">-->
<!--            <label for="sample">Field Title</label>-->
<!--            <input type="text" class="form-control" id="sample" name="sample" placeholder="sample_placeholder"-->
<!--                   aria-describedby="sampleHelp">-->
<!--            <small id="sampleHelp" class="form-text text-muted">-->
<!--                Sample Help Text-->
<!--            </small>-->
<!--        </div>-->
<!--        End Generic Field-->


</section>
{% endblock %}